/* Border Radius
--------------------------------------------- */
.border-r-40,
.is-style-border-rounded .wp-block-column {
  border-radius: 40px;
}

.is-style-border-rounded .wp-block-column .wp-block-cover img {
  border-radius: 40px 40px 0 0;
}

/* Underline Animations for Titles
--------------------------------------------- */
.is-style-double-underline-animated mark,
.is-style-underline-animated mark {
  position: relative;
  overflow: hidden;
  color: unset !important;
  background: unset !important;
}

.is-style-double-underline-animated mark::after,
.is-style-underline-animated mark::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.aos-animate.is-style-double-underline-animated mark::after {
  background-image: url("assets/images/double-underlined.svg");
}

.aos-animate.is-style-underline-animated mark::after {
  background-image: url("assets/images/underline-deco.svg");
}

.aos-animate.is-style-double-underline-animated mark::after,
.aos-animate.is-style-underline-animated mark::after {
  animation: underlineAnim 2s ease 0s 1 normal forwards;
}

@keyframes underlineAnim {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Girl Image Animated
--------------------------------------------- */

.aos-animate.is-style-image-girl-animated::after {
  content: url("assets/images/girl-decor-top.svg");
  right: -110px;
  top: 0;
  opacity: 0; /* Initial opacity */
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

.aos-animate.is-style-image-girl-animated::before {
  content: url("assets/images/girl-decor-bottom.svg");
  right: 100%;
  bottom: -9px;
  opacity: 0; /* Initial opacity */
  animation: fadeIn 1s forwards;
  animation-delay: 0.5s;
}

.is-style-image-girl-animated {
  position: relative;
}

.is-style-image-girl-animated::after,
.is-style-image-girl-animated::before {
  position: absolute;
}

.aos-animate.is-style-image-girl-animated {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  animation: bkgImg 1s forwards;
  animation-delay: 1.5s;
}

.aos-animate.is-style-image-girl-animated img {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes bkgImg {
  from {
    background-image: none;
    background-position: 0 0;
    background-size: 0;
  }
  to {
    background-image: url("assets/images/background-girl-image.png");
    background-position: 55px 10px;
    background-size: contain;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 600px) {
  .aos-animate.is-style-image-girl-animated::after,
  .aos-animate.is-style-image-girl-animated::before {
    content: unset;
  }
}
@media only screen and (min-width: 786px) and (max-width: 1023px) {
  .aos-animate.is-style-image-girl-animated::after,
  .aos-animate.is-style-image-girl-animated::before {
    content: unset;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .aos-animate.is-style-image-girl-animated::after {
    top: -85px;
  }
}
/* Decor Image Animated
--------------------------------------------- */

.aos-animate.is-style-yellow-decorations,
.aos-animate.is-style-blue-decorations {
  border-radius: 40px;
  padding-bottom: 7%;
  position: relative;
  max-width: 495px;
  animation-delay: 1s;
}
.aos-animate.is-style-yellow-decorations {
  animation: fadeBkgBlue 1s forwards;
}
.aos-animate.is-style-blue-decorations {
  animation: fadeBkgYellow 1s forwards;
}

.is-style-yellow-decorations img,
.aos-animate.is-style-blue-decorations img {
  margin-top: -7%;
  margin-left: 7%;
  border-radius: 40px;
  width: 98%;
}

.is-style-yellow-decorations::after,
.is-style-yellow-decorations::before {
  content: "";
  position: absolute;
  background-color: var(--wp--preset--color--primary);
}
.aos-animate.is-style-blue-decorations::after,
.aos-animate.is-style-blue-decorations::before {
  content: "";
  position: absolute;
  background-color: var(--wp--preset--color--blue-2);
}

.aos-animate.is-style-yellow-decorations::before,
.aos-animate.is-style-blue-decorations::before {
  display: block;
  width: 4%;
  height: 4%;
  border-radius: 22%;
  left: 14%;
  opacity: 0;
  animation: slideLeft 1s forwards;
}

.aos-animate.is-style-yellow-decorations::after,
.aos-animate.is-style-blue-decorations::after {
  display: block;
  width: 40%;
  height: 4%;
  border-radius: 6px;
  bottom: 14%;
  right: 0;
  opacity: 0;
  animation: slideLeft 1s forwards;
  animation-delay: 0.5s;
}
@keyframes fadeBkgYellow {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--wp--preset--color--primary);
  }
}
@keyframes fadeBkgBlue {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--wp--preset--color--blue-2);
  }
}
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Query Block Style
--------------------------------------------- */
.wp-block-query .wp-block-post-template li {
  margin-bottom: 0 !important;
  min-height: 100%;
  display: block;
  min-height: 100%;
  border-radius: 40px;
}

.wp-block-query .wp-block-post-template li figure {
  background-color: white;
}
.wp-block-query .wp-block-post-template li:nth-child(1) {
  background-color: var(--wp--preset--color--orange-3);
}

.wp-block-query .wp-block-post-template li:nth-child(2) {
  transition-delay: 0.5s;
  background-color: var(--wp--preset--color--orange-2);
}
.wp-block-query .wp-block-post-template li:nth-child(3) {
  background-color: var(--wp--preset--color--primary);
  transition-delay: 1s;
}

.wp-block-query .wp-block-post-template {
  align-items: stretch;
}

/* Button Variations
--------------------------------------------- */
.is-style-outline mark {
  background: transparent !important;
}

/* Form Style
--------------------------------------------- */
input[type="submit"] {
  background-color: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--contrast);
  font-weight: var(--wp--custom--font-weight--extra-bold);
  text-transform: uppercase;
  letter-spacing: 1.28px;
}

form.inline-form {
  display: flex;
  align-items: start;
  gap: 10px;
}
form.inline-form input[type="submit"] {
  width: 50%;
}

.zoom-in-hover .wp-block-column:hover {
  transform: scale(1.1) !important;
}

.overflow-x-hidden,
main.wp-block-group {
  overflow: hidden;
}

.wp-block-vpb-video .plyr__poster {
  background-color: transparent;
}
.wp-block-vpb-video .plyr__video-wrapper,
.wp-block-vpb-video .plyr--video {
  background: transparent;
}
.wp-block-vpb-video .plyr__control.plyr__control--overlaid svg {
  display: none;
}
.wp-block-vpb-video .plyr__control.plyr__control--overlaid {
  background-image: url("assets/images/play-button.svg");
  padding: 5%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  transition: all 0.2s ease;
}
.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded="true"] {
  background-color: var(--wp--preset--color--primary);
  opacity: 0.8;
  transition: all 0.2s ease;
}
.plyr--full-ui input[type="range"] {
  color: var(--wp--preset--color--primary);
}

@media only screen and (min-width: 600px) and (max-width: 870px) {
  header .is-content-justification-space-between {
    justify-content: center !important;
  }
}
